<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.admin.dao.ConfigurationPageDao">

    <sql id="showField" > id,name,table_en </sql>
    <sql id="tableEn" > s_configurationpage </sql>

    <!--映射实体类:配置页面-->
    <resultMap id="ConfigurationPageResultMap" type="com.sky.admin.po.ConfigurationPage">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tableEn" column="table_en"/>
    </resultMap>

    <!--查询全部数据-->
    <select id="findAll" parameterType="java.util.List"  resultMap="ConfigurationPageResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
    </select>

    <select id="findData" parameterType="java.util.List"  resultMap="ConfigurationPageResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
        <if test="configurationPageCoding != null">
    </select>



</mapper>