<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.admin.dao.FieldDao">
    <sql id="showField" > id,configurationpage_id,table_en,field_en,name,isshowlist,listsorting,isedit,editsorting,inputtype,isquery,querytype,querysorting </sql>
    <sql id="tableEn" > s_field </sql>
    <!--映射实体类-->
    <resultMap id="FieldResultMap" type="com.sky.admin.po.Field">
        <id property="id" column="id"/>
        <result property="configurationpageId" column="configurationpage_id"/>
        <result property="tableEn" column="table_en"/>
        <result property="fieldEn" column="field_en"/>
        <result property="name" column="name"/>
        <result property="isshowlist" column="isshowlist"/>
        <result property="listsorting" column="listsorting"/>
        <result property="isedit" column="isedit"/>
        <result property="editsorting" column="editsorting"/>
        <result property="inputtype" column="inputtype"/>
        <result property="isquery" column="isquery"/>
        <result property="querytype" column="querytype"/>
        <result property="querysorting" column="querysorting"/>
    </resultMap>
    <!--查询全部数据-->
    <select id="findAll" resultMap="FieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="java.lang.Integer" resultMap="FieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" /> WHERE id=#{id}
    </select>

    <select id="findData" resultMap="FieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" /> WHERE configurationpage_id=#{field.configurationpageId}
        <if test="limit != null"> LIMIT #{limit.offset},#{limit.rows} </if>
    </select>

    <select id="countData" resultType ="java.lang.Integer">
        SELECT count(1) FROM <include refid="tableEn" />
    </select>


</mapper>