<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.admin.dao.FieldDao">
    <sql id="showField" > id,configurationpage_id,table_en,field_en,name,isshowlist,listsorting,isedit,editsorting,inputtype,isquery,querytype,querysorting </sql>
    <sql id="tableEn" > s_field </sql>
    <!--映射实体类-->
    <resultMap id="FieldResultMap" type="com.sky.admin.po.Field">
        <id property="id" column="id"/>
        <result property="configurationpageId" column="configurationpage_id"/>
        <result property="tableEn" column="table_en"/>
        <result property="fieldEn" column="field_en"/>
        <result property="name" column="name"/>
        <result property="isshowlist" column="isshowlist"/>
        <result property="listsorting" column="listsorting"/>
        <result property="isedit" column="isedit"/>
        <result property="editsorting" column="editsorting"/>
        <result property="inputtype" column="inputtype"/>
        <result property="isquery" column="isquery"/>
        <result property="querytype" column="querytype"/>
        <result property="querysorting" column="querysorting"/>
    </resultMap>
    <!--查询全部数据-->
    <select id="findAll" resultMap="FieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="java.lang.Integer" resultMap="FieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" /> WHERE id=#{id}
    </select>

    <select id="findData" resultMap="FieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" /> WHERE configurationpage_id=#{field.configurationpageId}
        <if test="limit != null"> LIMIT #{limit.offset},#{limit.rows} </if>
    </select>

    <select id="countData" resultType ="java.lang.Integer">
        SELECT count(1) FROM <include refid="tableEn" />
    </select>

    <!--增加-->
    <insert id="doAdd" keyProperty="id" parameterType="com.sky.admin.po.Field">
        INSERT INTO <include refid="tableEn" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configurationpageId != null">configurationpage_id,</if>
            <if test="tableEn != null">table_en,</if>
            <if test="fieldEn != null">field_en,</if>
            <if test="name != null">name,</if>
            <if test="isshowlist != null">isshowlist,</if>
            <if test="listsorting != null">listsorting,</if>
            <if test="isedit != null">isedit,</if>
            <if test="editsorting != null">editsorting,</if>
            <if test="inputtype != null">inputtype,</if>
            <if test="isquery != null">isquery,</if>
            <if test="querytype != null">querytype,</if>
            <if test="querysorting != null">querysorting,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configurationpageId != null">#{configurationpageId},</if>
            <if test="tableEn != null">#{tableEn},</if>
            <if test="fieldEn != null">#{fieldEn},</if>
            <if test="name != null">#{name},</if>
            <if test="isshowlist != null">#{isshowlist},</if>
            <if test="listsorting != null">#{listsorting},</if>
            <if test="isedit != null">#{isedit},</if>
            <if test="editsorting != null">#{editsorting},</if>
            <if test="inputtype != null">#{inputtype},</if>
            <if test="isquery != null">#{isquery},</if>
            <if test="querytype != null">#{querytype},</if>
            <if test="querysorting != null">#{querysorting},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="doUpdate" parameterType="com.sky.admin.po.Field">
        UPDATE <include refid="tableEn" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="isshowlist != null">isshowlist=#{isshowlist},</if>
            <if test="listsorting != null">listsorting=#{listsorting},</if>
            <if test="isedit != null">isedit=#{isedit},</if>
            <if test="editsorting != null">editsorting=#{editsorting},</if>
            <if test="inputtype != null">inputtype=#{inputtype},</if>
            <if test="isquery != null">isquery=#{isquery},</if>
            <if test="querytype != null">querytype=#{querytype},</if>
            <if test="querysorting != null">querysorting=#{querysorting},</if>
        </trim>
        WHERE id=#{id}
    </update>



</mapper>