<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.admin.dao.ListFieldDao">

    <sql id="showField" > coding,configuration_page_coding,table_en,field_en,name </sql>
    <sql id="tableEn" > s_field </sql>

    <!--映射实体类-->
    <resultMap id="ListFieldResultMap" type="com.sky.admin.po.ListField">
        <id property="coding" column="coding"/>
        <result property="configurationPageCoding" column="configuration_page_coding"/>
        <result property="tableEn" column="table_en"/>
        <result property="fieldEn" column="field_en"/>
        <result property="name" column="name"/>
    </resultMap>

    <!--查询全部数据-->
    <select id="findAll" parameterType="java.util.List"  resultMap="ListFieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="java.lang.String" resultMap="ListFieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" /> WHERE coding=#{coding}
    </select>
    <!--按条件查询-->
    <select id="findByCondition" parameterType="com.sky.admin.po.ListField" resultMap="ListFieldResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="coding != null">
                AND coding LIKE CONCAT(CONCAT('%', #{coding}),'%')
            </if>
            <if test="configurationPageCoding != null">
                AND configuration_page_coding LIKE CONCAT(CONCAT('%', #{configurationPageCoding}),'%')
            </if>
            <if test="tableEn != null">
                AND table_en LIKE CONCAT(CONCAT('%', #{tableEn}),'%')
            </if>
            <if test="fieldEn != null">
                AND field_en LIKE CONCAT(CONCAT('%', #{fieldEn}),'%')
            </if>
            <if test="name != null">
                AND name LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
        </trim>
    </select>
    <!--增加-->
    <insert id="doAdd" parameterType="com.sky.admin.po.ListField">
        INSERT INTO <include refid="tableEn" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coding != null">coding,</if>
            <if test="configurationPageCoding != null">configuration_page_coding,</if>
            <if test="tableEn != null">table_en,</if>
            <if test="fieldEn != null">field_en,</if>
            <if test="name != null">name,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coding != null">#{coding},</if>
            <if test="configurationPageCoding != null">#{configurationPageCoding},</if>
            <if test="tableEn != null">#{tableEn},</if>
            <if test="fieldEn != null">#{fieldEn},</if>
            <if test="name != null">#{name},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="doUpdate" parameterType="com.sky.admin.po.ListField">
        UPDATE <include refid="tableEn" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="configurationPageCoding != null">configuration_page_coding=#{configurationPageCoding},</if>
            <if test="tableEn != null">table_en=#{tableEn},</if>
            <if test="fieldEn != null">field_en=#{fieldEn},</if>
            <if test="name != null">name=#{name},</if>
        </trim>
        WHERE coding=#{coding}
    </update>
    <!--批量删除-->
    <delete id="doDeleteBatch" parameterType="java.util.List">
        DELETE FROM <include refid="tableEn" />
        <where>
            coding IN
            <foreach collection="list" item="ele" open="(" separator="," close=")">
                '${ele}'
            </foreach>
        </where>
    </delete>
    <!--删除-->
    <delete id="doDelete" parameterType="java.lang.String">
        DELETE FROM <include refid="tableEn" />  WHERE coding = #{coding}
    </delete>

</mapper>