<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.shiro.dao.ShiroDao">
    <select id="getUserByUserName" resultType="com.sky.shiro.po.User">
        select * FROM t_user
        WHERE username = #{0}
    </select>

    <select id="getUserRoleByUserId" resultType="int">
        SELECT role_id FROM t_user_role
        where user_id = #{_parameter}
    </select>

    <select id="getPermissionsByRoleId" resultType="com.sky.shiro.po.Permission">
        SELECT a.id,a.url,a.role_id as role_id,a.name FROM t_permission a
        WHERE role_id = #{_parameter}
    </select>

</mapper>