<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.sys.dao.ConfigurationPageDao">

    <sql id="fieldName" >coding,name,table_en,slave_height,list_height,slave_rows,list_rows,is_shown_querys,querys_style</sql>
    <sql id="tableName" >s_configuration_page</sql>

    <!--增加-->
    <insert id="doCreate" parameterType="com.sky.sys.po.ConfigurationPage">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coding != null">coding,</if>
            <if test="name != null">name,</if>
            <if test="tableEn != null">table_en,</if>
            <if test="slaveHeight != null">slave_height,</if>
            <if test="listHeight != null">list_height,</if>
            <if test="slaveRows != null">slave_rows,</if>
            <if test="listRows != null">list_rows,</if>
            <if test="isShownQuerys != null">is_shown_querys,</if>
            <if test="querysStyle != null">querys_style,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coding != null">#{coding},</if>
            <if test="name != null">#{name},</if>
            <if test="tableEn != null">#{tableEn},</if>
            <if test="slaveHeight != null">#{slaveHeight},</if>
            <if test="listHeight != null">#{listHeight},</if>
            <if test="slaveRows != null">#{slaveRows},</if>
            <if test="listRows != null">#{listRows},</if>
            <if test="isShownQuerys != null">#{isShownQuerys},</if>
            <if test="querysStyle != null">#{querysStyle},</if>
        </trim>
    </insert>

    <!--更新-->
    <update id="doUpdate" parameterType="com.sky.sys.po.ConfigurationPage">
        UPDATE <include refid="tableName" />
        <trim prefix="SET" suffixOverrides=",">
        name=#{name},table_en=#{tableEn},slave_height=#{slaveHeight},list_height=#{listHeight},slave_rows=#{slaveRows}
            ,list_rows=#{listRows},is_shown_querys=#{isShownQuerys},querys_style=#{querysStyle}
        <!--<if test="name != null">name=#{name},</if>
            <if test="tableEn != null">table_en=#{tableEn},</if>
            <if test="slaveHeight != null">slave_height=#{slaveHeight},</if>
            <if test="listHeight != null">list_height=#{listHeight},</if>
            <if test="slaveRows != null">slave_rows=#{slaveRows},</if>
            <if test="listRows != null">list_rows=#{listRows},</if>
            <if test="isShownQuerys != null">is_shown_querys=#{isShownQuerys},</if>
            <if test="querysStyle != null">querys_style=#{querysStyle},</if>-->
        </trim>
        WHERE coding=#{coding}
    </update>

    <!--删除-->
    <delete id="doRemove" parameterType="java.lang.String">
        DELETE FROM <include refid="tableName" />  WHERE coding=#{coding}
    </delete>

    <!--映射实体类-->
    <resultMap id="configurationPagecCassesResultMap" type="com.sky.sys.po.ConfigurationPage">
        <id property="coding" column="coding"/>
        <result property="name" column="name"/>
        <result property="tableEn" column="tableEn"/>
        <result property="slaveHeight" column="slave_height"/>
        <result property="listHeight" column="list_height"/>
        <result property="slaveRows" column="slave_rows"/>
        <result property="listRows" column="list_rows"/>
        <result property="isShownQuerys" column="is_shown_querys"/>
        <result property="querysStyle" column="querys_qtyle"/>
        <collection property="tableList"  ofType="tableClassesResultMap"
                    select="com.sky.sys.dao.TableDao.findByConfigurationPageCoding" column="coding" />
        <collection property="listFieldList"  ofType="fieldClassesResultMap"
                    select="com.sky.sys.dao.FieldDao.getFieldList" column="coding" />
    </resultMap>

    <!--查询-->
    <select id="findById" parameterType="java.lang.String" resultMap="configurationPagecCassesResultMap">
        SELECT <include refid="fieldName" /> FROM <include refid="tableName" /> WHERE coding=#{coding}
    </select>

 </mapper>