<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.sys.dao.FieldDao">

    <sql id="fieldName" >coding,name,field_en,configuration_page_coding,table_coding,field,annotation,type,size,input_type,is_edit,is_must,edit_annotation,edit_sorting,is_show_list,list_width,list_sorting,query_sorting,is_query,query_occupy,is_show_slave,slave_width,slave_sorting</sql>
    <sql id="tableName" >s_field</sql>

    <!--增加-->
    <insert id="doCreate" parameterType="com.sky.sys.po.Field">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coding != null">coding,</if>
            <if test="name != null">name,</if>
            <if test="fieldEn != null">field_en,</if>
            <if test="configurationPageCoding != null">configuration_page_coding,</if>
            <if test="tableCoding != null">table_coding,</if>
            <if test="field != null">field,</if>
            <if test="annotation != null">annotation,</if>
            <if test="type != null">type,</if>
            <if test="size != null">size,</if>
            <if test="inputType != null">input_type,</if>
            <if test="isEdit != null">is_edit,</if>
            <if test="isMust != null">is_must,</if>
            <if test="editAnnotation != null">edit_annotation,</if>
            <if test="editSorting != null">edit_sorting,</if>
            <if test="isShowList != null">is_show_list,</if>
            <if test="listWidth != null">list_width,</if>
            <if test="listSorting != null">list_sorting,</if>
            <if test="querySorting != null">query_sorting,</if>
            <if test="isQuery != null">is_query,</if>
            <if test="queryOccupy != null">query_occupy,</if>
            <if test="isShowSlave != null">is_show_slave,</if>
            <if test="slaveWidth != null">slave_width,</if>
            <if test="slaveSorting != null">slave_sorting,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coding != null">#{coding},</if>
            <if test="name != null">#{name},</if>
            <if test="fieldEn != null">#{fieldEn},</if>
            <if test="configurationPageCoding != null">#{configurationPageCoding},</if>
            <if test="tableCoding != null">#{tableCoding},</if>
            <if test="field != null">#{field},</if>
            <if test="annotation != null">#{annotation},</if>
            <if test="type != null">#{type},</if>
            <if test="size != null">#{size},</if>
            <if test="inputType != null">#{inputType},</if>
            <if test="isEdit != null">#{isEdit},</if>
            <if test="isMust != null">#{isMust},</if>
            <if test="editAnnotation != null">#{editAnnotation},</if>
            <if test="editSorting != null">#{editSorting},</if>
            <if test="isShowList != null">#{isShowList},</if>
            <if test="listWidth != null">#{listWidth},</if>
            <if test="listSorting != null">#{listSorting},</if>
            <if test="querySorting != null">#{querySorting},</if>
            <if test="isQuery != null">#{isQuery},</if>
            <if test="queryOccupy != null">#{queryOccupy},</if>
            <if test="isShowSlave != null">#{isShowSlave},</if>
            <if test="slaveWidth != null">#{slaveWidth},</if>
            <if test="slaveSorting != null">#{slaveSorting},</if>
        </trim>
    </insert>

    <!--更新-->
    <update id="doUpdate" parameterType="com.sky.sys.po.Field">
        UPDATE <include refid="tableName" />
        <trim prefix="SET" suffixOverrides=",">
            name=#{name},field_en=#{fieldEn},configuration_page_coding=#{configurationPageCoding},table_coding=#{tableCoding},field=#{field}
            ,annotation=#{annotation},type=#{type},size=#{size},input_type=#{inputType},is_edit=#{isEdit},is_must=#{isMust}
            ,edit_annotation=#{editAnnotation},edit_sorting=#{editSorting},is_show_list=#{isShowList},list_width=#{listWidth}
            ,list_sorting=#{listSorting},query_sorting=#{querySorting},is_query=#{isQuery},query_occupy=#{queryOccupy}
            ,is_show_slave=#{isShowSlave},slave_width=#{slaveWidth},slave_sorting=#{slaveSorting}
            <!--<if tst="name != null">name=#{name},</if>
            <if test="fieldEn != null">field_en=#{fieldEn},</if>
            <if test="configurationPageCoding != null">configuration_page_coding=#{configurationPageCoding},</if>
            <if test="tableCoding != null">table_coding=#{tableCoding},</if>
            <if test="field != null">field=#{field},</if>
            <if test="annotation != null">annotation=#{annotation},</if>
            <if test="type != null">type=#{type},</if>
            <if test="size != null">size=#{size},</if>
            <if test="inputType != null">input_type=#{inputType},</if>
            <if test="isEdit != null">is_edit=#{isEdit},</if>
            <if test="isMust != null">is_must=#{isMust},</if>
            <if test="editAnnotation != null">edit_annotation=#{editAnnotation},</if>
            <if test="editSorting != null">edit_sorting=#{editSorting},</if>
            <if test="isShowList != null">is_show_list=#{isShowList},</if>
            <if test="listWidth != null">list_width=#{listWidth},</if>
            <if test="listSorting != null">list_sorting=#{listSorting},</if>
            <if test="querySorting != null">query_sorting=#{querySorting},</if>
            <if test="isQuery != null">is_query=#{isQuery},</if>
            <if test="queryOccupy != null">query_occupy=#{queryOccupy},</if>
            <if test="isShowSlave != null">is_show_slave=#{isShowSlave},</if>
            <if test="slaveWidth != null">slave_width=#{slaveWidth},</if>
            <if test="slaveSorting != null">slave_sorting=#{slaveSorting},</if>
            -->
        </trim>
        WHERE coding=#{coding}
    </update>

    <!--删除-->
    <delete id="doRemove" parameterType="java.lang.String">
        DELETE FROM <include refid="tableName" />  WHERE coding=#{coding}
    </delete>

    <!--映射实体类-->
    <resultMap id="fieldClassesResultMap" type="com.sky.sys.po.Field">
        <id property="coding" column="coding"/>
        <result property="name" column="name"/>
        <result property="fieldEn" column="field_en"/>
        <result property="configurationPageCoding" column="configuration_page_coding"/>
        <result property="tableCoding" column="table_coding"/>
        <result property="field" column="field"/>
        <result property="annotation" column="annotation"/>
        <result property="type" column="type"/>
        <result property="size" column="size"/>
        <result property="inputType" column="input_type"/>
        <result property="isEdit" column="is_edit"/>
        <result property="isMust" column="is_must"/>
        <result property="editAnnotation" column="edit_annotation"/>
        <result property="editSorting" column="edit_sorting"/>
        <result property="isShowList" column="is_show_list"/>
        <result property="listWidth" column="list_width"/>
        <result property="listSorting" column="list_sorting"/>
        <result property="querySorting" column="query_sorting"/>
        <result property="isQuery" column="is_query"/>
        <result property="queryOccupy" column="query_occupy"/>
        <result property="isShowSlave" column="is_show_slave"/>
        <result property="slaveWidth" column="slave_width"/>
        <result property="slaveSorting" column="slave_sorting"/>
    </resultMap>

    <!--查询-->
    <select id="findByTableCoding" parameterType="java.lang.String" resultMap="fieldClassesResultMap">
        SELECT <include refid="fieldName" /> FROM <include refid="tableName" /> WHERE table_coding=#{coding}
    </select>
    <!--查询 列表字段-->
    <select id="getFieldList" parameterType="java.lang.String" resultMap="fieldClassesResultMap">
        SELECT <include refid="fieldName" /> FROM <include refid="tableName" /> WHERE configuration_page_coding=#{coding} ORDER BY list_sorting
    </select>
    <!--查询 可编辑字段-->
    <select id="getEditFieldList" parameterType="java.lang.String" resultMap="fieldClassesResultMap">
        SELECT
        <include refid="fieldName"/>
        FROM
        <include refid="tableName"/>
        WHERE configuration_page_coding=#{coding} and is_edit=0 ORDER BY edit_sorting
    </select>

    <!--映射实体类：数据库表字段信息-->
    <resultMap id="databaseFieldClassesResultMap" type="com.sky.sys.po.Field">
        <id property="coding" column="coding"/>
        <result property="name" column="column_comment"/>
        <result property="fieldEn" column="column_name"/>
        <result property="configurationPageCoding" column="configuration_page_coding"/>
        <result property="tableCoding" column="table_coding"/>
        <result property="field" column="field"/>
        <result property="annotation" column="column_comment"/>
        <result property="type" column="type"/>
        <result property="size" column="size"/>
        <result property="inputType" column="input_type"/>
        <result property="isEdit" column="is_edit"/>
        <result property="isMust" column="is_must"/>
        <result property="editAnnotation" column="edit_annotation"/>
        <result property="editSorting" column="edit_sorting"/>
        <result property="isShowList" column="is_show_list"/>
        <result property="listWidth" column="list_width"/>
        <result property="listSorting" column="ordinal_position"/>
        <result property="querySorting" column="query_sorting"/>
        <result property="isQuery" column="is_query"/>
        <result property="queryOccupy" column="query_occupy"/>
        <result property="isShowSlave" column="is_show_slave"/>
        <result property="slaveWidth" column="slave_width"/>
        <result property="slaveSorting" column="slave_sorting"/>
    </resultMap>
    <!--获得数据库表字段信息-->
    <select id="getDatabaseFieldList" parameterType="java.lang.String"  resultMap="databaseFieldClassesResultMap">
        SELECT * FROM information_schema.columns WHERE table_schema = (SELECT DATABASE()) AND table_name = #{tableEn} ORDER BY ordinal_position;
    </select>


    <!--映射实体类-->
    <resultMap id="classesResultMap" type="java.util.Map">
        <id property="coding" column="coding"/>
        <result property="name" column="name"/>
        <result property="fieldEn" column="field_en"/>
        <result property="configurationPageCoding" column="configuration_page_coding"/>
        <result property="tableCoding" column="table_coding"/>
        <result property="field" column="field"/>
        <result property="annotation" column="annotation"/>
        <result property="type" column="type"/>
        <result property="size" column="size"/>
        <result property="inputType" column="input_type"/>
        <result property="isEdit" column="is_edit"/>
        <result property="isMust" column="is_must"/>
        <result property="editAnnotation" column="edit_annotation"/>
        <result property="editSorting" column="edit_sorting"/>
        <result property="isShowList" column="is_show_list"/>
        <result property="listWidth" column="list_width"/>
        <result property="listSorting" column="list_sorting"/>
        <result property="querySorting" column="query_sorting"/>
        <result property="isQuery" column="is_query"/>
        <result property="queryOccupy" column="query_occupy"/>
        <result property="isShowSlave" column="is_show_slave"/>
        <result property="slaveWidth" column="slave_width"/>
        <result property="slaveSorting" column="slave_sorting"/>
    </resultMap>
    <!--查询全部数据-->
    <select id="findAllMap" resultType="java.util.Map">
        SELECT <include refid="fieldName"/> FROM <include refid="tableName"/>
    </select>
 </mapper>