<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.production.dao.BomDetailDao">
    <sql id="showField" > id,bomid,suppliesid,suppliesnumber </sql>
    <sql id="tableEn" > t_bomdetail </sql>
    <!--映射实体类-->
    <resultMap id="ResultMap" type="com.sky.production.po.BomDetail">
        <id property="id" column="id"/>
        <result property="bomid" column="bomid"/>
        <result property="suppliesid" column="suppliesid"/>
        <result property="suppliesnumber" column="suppliesnumber"/>
        <association property="bom" column="bomid" select="com.sky.production.dao.BomDao.findById"></association>
        <association property="supplies" column="suppliesid" select="com.sky.production.dao.SuppliesDao.findById"></association>
    </resultMap>
    <!--查询全部数据-->
    <select id="findAll" resultMap="ResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="java.lang.Integer" resultMap="ResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" /> WHERE id=#{id}
    </select>

    <select id="findData" resultMap="ResultMap">
        SELECT <include refid="showField" /> FROM <include refid="tableEn" />
        <if test="limit != null"> LIMIT #{limit.offset},#{limit.rows} </if>
    </select>

    <select id="countData" resultType ="java.lang.Integer">
        SELECT count(1) FROM <include refid="tableEn" />
    </select>

    <!--增加-->
    <insert id="doAdd" keyProperty="id" parameterType="com.sky.production.po.BomDetail">
        INSERT INTO <include refid="tableEn" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bomid != null">bomid,</if>
            <if test="suppliesid != null">suppliesid,</if>
            <if test="suppliesnumber != null">suppliesnumber,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bomid != null">#{bomid},</if>
            <if test="suppliesid != null">#{suppliesid},</if>
            <if test="suppliesnumber != null">#{suppliesnumber},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="doUpdate" parameterType="com.sky.production.po.BomDetail">
        UPDATE <include refid="tableEn" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="bomid != null">bomid=#{bomid},</if>
            <if test="suppliesid != null">suppliesid=#{suppliesid},</if>
            <if test="suppliesnumber != null">suppliesnumber=#{suppliesnumber},</if>
        </trim>
        WHERE id=#{id}
    </update>
    <!--删除-->
    <delete id="doDelete" parameterType="java.lang.Integer">
        DELETE FROM <include refid="tableEn" /> WHERE id= #{id}
    </delete>

</mapper>